@import url('https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hack';
}
p, h1, h2, h3 {
    color: white;
}

body {
    background-image: url('./assets/images/backgroud.jpg');
    background-size: cover;
    background-position: center;
    padding: 2rem;
}

a {
    text-decoration: none;
}