@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

.home {
    margin-top: 10vh;
    margin-left: 5vw;
    height: 90vh;
}

.home-h1, .home-description p {
    font-family: 'Raleway', sans-serif;
}

/* ===================== */
/* H1 com degradê e digitação */
.home-h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    background: linear-gradient(90deg, #ffffff 0%, #999999 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typingH1 2s steps(20, end) forwards;
    position: relative;
}
.home-h1::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 1em;
    border-right: 0.15em solid white;
    animation: blink 0.75s step-end infinite;
}

@keyframes typingH1 {
    from { width: 0; }
    to { width: 21ch; }
}
@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}

/* ===================== */
/* Parágrafos como blocos */
.paragraph-blocks {
    margin: 3px;
    gap: 2rem;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.8s ease-out forwards;
    animation-delay: 2.2s; /* Começa logo após o h1 terminar */
    max-width: 50ch;
    font-size: 1.2rem;
    color: #9C9C9C;
    line-height: 1.5;
}
.paragraph-blocks_ {
    margin: 3px;
    gap: 2rem;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.8s ease-out forwards;
    animation-delay: 2.5s; /* Começa logo após o h1 terminar */
    max-width: 50ch;
    font-size: 1.2rem;
    color: #9C9C9C;
    line-height: 1.5;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translatex(-100%);
    }
    to {
        opacity: 1;
        transform: translatex(0);
    }
}

/* ===================== */
/* Botão */
.home-button {
    background-color: #4C2977;
    border: none;
    color: white;
    padding: 12px 24px;
    width: 300px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInLeft 1s ease-out forwards;
    animation-delay: 3s; /* depois dos parágrafos */
}
.home-button:hover {
    background-color: #2b1842;
}
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
